
@using MVC.Series.Web.Extensions
@model EBFP.BL.HumanResources.MembershipInAssociationOrganizationModel
@using (Html.BeginCollectionItem("MembershipInAssociationOrganizations"))
{
    string formID = "HRISMIA_" + Guid.NewGuid().ToString().Replace("-", "");

    <div class="form-group" id="@formID">
        @Html.HiddenFor(m => @Model.EMIAO_Emp_Id, new { @class = "form-control" })
        @Html.HiddenFor(m => @Model.EMIAO_Id, new { @class = "form-control" })
        <div class="col-xs-6">
            @Html.TextBoxFor(m => Model.EMIAO_Title, new { @maxlength = "200", @class = "form-control", @required = "required" })
        </div>
        <div class="col-xs-1"> 
            <button type="button" class="btn btn-danger removeItem btn-circle UserAccessCanEdit" id="@formID" name="@formID" data-bind="@formID"><i class="fa fa-times"></i> </button> 
        </div>
    </div>
        <script type="text/javascript">

            $(document).ready(function () {
                $("#@formID .removeItem").click(function () {
                    $("#" + $(this).data().bind).remove();
                });
            });
        </script>
}
