@model EBFP.BL.HumanResources.EmployeeModel
@using EBFP.BL.Helper
@using EBFP.Helper
<div class="col-sm-12">
  <div class="panel panel-info">
    <a href="#" data-perform="panel-collapse">
      <div class="panel-heading">
        BFP Information
        <div class="pull-left">
          <a href="#" data-perform="panel-collapse"><i class="ti-minus"></i>&nbsp;&nbsp;</a>
        </div>

      </div>
    </a>
    <div class="panel-wrapper collapse in" aria-expanded="true">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="form-horizontal">

              <div class="form-group">
                <div class="col-md-6">
                  <label class="control-label">DATE ENTERED GOVERNMENT SERVICE</label>
                </div>
                <div class="col-md-3">
                  @Html.TextBoxFor(model => model.Emp_Service_GovtStartDate, "{0:MM/dd/yyyy}", new { @class = "form-control mydatepicker", @placeholder = "mm/dd/yyyy" })
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <label class="control-label">YEARS IN GOVERNMENT SERVICE</label>
                </div>
                <div class="col-md-3">
                  @Html.TextBox("YEARSINGOVERNMENTSERVICE", Functions.GetAge(Model.Emp_Service_GovtStartDate), new { @class = "form-control", @readonly = "readonly" })
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <label class="control-label">DATE ENTERED UNIFORMED SERVICE TO OTHER GOVERNMENT AGENCY/IES</label>
                </div>
                <div class="col-md-3">
                  @Html.TextBoxFor(model => model.Emp_Service_UniformGovtStartDate, "{0:MM/dd/yyyy}", new { @class = "form-control mydatepicker", @placeholder = "mm/dd/yyyy" })
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6">
                  <label class="control-label">DATE ENTERED UNIFORMED FIRE SERVICE</label>
                </div>
                <div class="col-md-3">
                  @Html.TextBoxFor(model => model.Emp_Service_StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control mydatepicker", @placeholder = "mm/dd/yyyy" })
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <label class="control-label">YEARS IN UNIFORMED FIRE SERVICE</label>
                </div>
                <div class="col-md-3">
                  @Html.TextBox("YEARSINUNIFORMEDFIRESERVICE", Functions.GetAge(Model.Emp_Service_StartDate), new { @class = "form-control", @readonly = "readonly" })
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6">
                  <label class="control-label">MANDATORY RETIREMENT</label>
                </div>
                <div class="col-md-3">
                  @Html.TextBox("DATEOFRETIREMENT", Functions.GetRetirementDate(Model.Emp_BirthDate, Model.Emp_Curr_Rank), "{0:MM/dd/yyyy}", new {@class = "form-control", @readonly = "readonly", @placeholder = "mm/dd/yyyy"})

                  @*@Html.TextBoxFor(model => model.Emp_Service_StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control mydatepicker", @placeholder = "mm/dd/yyyy" })*@
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <label class="control-label">UNIFORMED OPTIONAL RETIREMENT</label>
                </div>
                <div class="col-md-3">
                  @Html.TextBox("UNIFORMEDOPTIONALRETIREMENT", Functions.GetOptionalRetirementDate(Model.Emp_Service_GovtStartDate, 20), "{0:MM/dd/yyyy}", new {@class = "form-control", @readonly = "readonly", @placeholder = "mm/dd/yyyy"})

                  @*@Html.TextBoxFor(model => model.Emp_Service_StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control mydatepicker", @placeholder = "mm/dd/yyyy" })*@
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6">
                  <label class="control-label">NON UNIFORMED SERVICE OPTIONAL RETIREMENT</label>
                </div>
                <div class="col-md-3">
                  @Html.TextBox("NONUNIFORMEDOPTIONALRETIREMENT", Functions.GetOptionalRetirementDate(Model.Emp_Service_GovtStartDate, 15), "{0:MM/dd/yyyy}", new { @class = "form-control", @readonly = "readonly", @placeholder = "mm/dd/yyyy" })

                  @*@Html.TextBoxFor(model => model.Emp_Service_StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control mydatepicker", @placeholder = "mm/dd/yyyy" })*@
                </div>
              </div>

              <hr class="col-md-9" />
              <div class="form-group">
                <div class="col-md-6">
                  <label class="control-label">DATE OF LAST PROMOTION (TEMPORARY STATUS)</label>
                </div>
                <div class="col-md-3">
                  @Html.TextBoxFor(model => model.Emp_LastPromotionDate_Temp, "{0:MM/dd/yyyy}", new { @class = "form-control mydatepicker", @placeholder = "mm/dd/yyyy" })
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <label class="control-label">DATE OF LAST PROMOTION (PERMANENT STATUS)</label>
                </div>
                <div class="col-md-3">
                  @Html.TextBoxFor(model => model.Emp_LastPromotionDate_Permanent, "{0:MM/dd/yyyy}", new { @class = "form-control mydatepicker", @placeholder = "mm/dd/yyyy" })
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <label class="control-label">DATE ASSUMED OFFICER</label>
                </div>
                <div class="col-md-3">
                  @Html.TextBoxFor(model => model.Emp_AssumedOfficerDate, "{0:MM/dd/yyyy}", new { @class = "form-control mydatepicker", @placeholder = "mm/dd/yyyy" })
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <label class="control-label">LAST TRAINING DATE</label>
                </div>
                <div class="col-md-3">
                  @Html.TextBoxFor(model => model.Emp_LastTrainingDate, "{0:MM/dd/yyyy}", new { @class = "form-control mydatepicker", @placeholder = "mm/dd/yyyy" })
                </div>
              </div>

              <hr class="col-md-9" />

              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">BASE COURSE</label>
                </div>
                <div class="col-md-5">
                  @Html.DropDownListFor(model => Model.Emp_EducCourse, Selections.BaseCourses, " --- Please Select---", new {@class = "form-control select2"})
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">GRADUATE STUDIES</label>
                </div>
                <div class="col-md-5">
                  @Html.DropDownListFor(model => Model.Emp_MACourse, Selections.MasteralCourses, " --- Please Select---", new { @class = "form-control select2" })
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">HIGHEST EDUCATIONAL ATTAINMENT</label>
                </div>
                <div class="col-md-5">
                  @Html.DropDownListFor(model => Model.Emp_HighestEducAttainment, EducAttaintmentLevel.Doctorate.ToSelectList(), new {@class = "form-control select2"})
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">ELIGIBITY TYPE</label>
                </div>
                <div class="col-md-5">
                  @Html.DropDownListFor(model => Model.Emp_Eligibility_Type, EligibilityType.First.ToSelectList(), " --- Please Select---", new { @class = "form-control select2" })
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">HIGHEST ELIGIBILITY</label>
                </div>
                <div class="col-md-5">
                  @{ var Eligibilities = Selections.Eligibilities; }
                  @Html.DropDownListFor(model => Model.Emp_Curr_Eligibility, Eligibilities, " --- Please Select---", new { @class = "form-control select2" } )
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">HIGHEST MANDATORY TRAINING</label>
                </div>
                <div class="col-md-5">
                  @Html.DropDownListFor(model => Model.Emp_HighestMandatoryTraining, Selections.MandatoyTrainings, " --- Please Select---", new { @class = "form-control select2" })
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="form-horizontal">

              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">ITEM NUMBER</label>
                </div>
                <div class="col-md-5">
                  @Html.TextBoxFor(model => model.Emp_ItemNumber, new { @class = "form-control " , @maxlength = "50"})
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">BADGE NUMBER</label>
                </div>
                <div class="col-md-5">
                  @Html.TextBoxFor(model => model.Emp_BadgeNumber, new { @class = "form-control ", @maxlength = "50" })
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">PRESENT RANK<font color="#ff1800">*</font></label>
                </div>
                <div class="col-md-5">
                  @Html.DropDownListFor(model => Model.Emp_Curr_Rank, Selections.Ranks, " --- Please Select---", new { @class = "form-control select2" })
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">PRESENT ASSIGNMENT (UNIT)<font color="#ff1800">*</font></label>
                </div>
                <div class="col-md-5">
                  @Html.DropDownListFor(model => Model.Emp_Curr_Unit, Selections.Units, " --- Please Select---", new {@class = "form-control select2"})
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">DO/BO/RO Number:</label>
                </div>
                <div class="col-md-5">
                  @Html.TextBoxFor(model => model.Emp_PresentAsgmt_DO_BO_RO, new { @class = "form-control "})
                </div>
              </div>
              @*<div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">ADMIN/OPERATION</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.Emp_Curr_JobFunc, new { @class = "form-control " })
                    </div>
                </div>*@
              @*<div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">ADMIN/OPERATION CODE</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.Emp_Curr_JobFunc, new { @class = "form-control " })
                    </div>
                </div>*@
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">APPOINTMENT STATUS</label>
                </div>
                <div class="col-md-5">
                  @Html.DropDownListFor(model => Model.Emp_Curr_ApptStatus, AppointmentStatuses.Temporary.ToSelectList(), " --- Please Select---", new {@class = "form-control select2"})
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">DO/BO/RO Number:</label>
                </div>
                <div class="col-md-5">
                  @Html.TextBoxFor(model => model.Emp_AppointmentStatus_DO_BO_RO, new { @class = "form-control "})
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">DUTY STATUS<font color="#ff1800">*</font></label>
                </div>
                <div class="col-md-5">
                    @if (CurrentUser.RoleName == "MAIN ADMIN" || CurrentUser.RoleName == "NATIONAL HRIS ADMIN" || CurrentUser.RoleName == "REGIONAL HRIS ADMIN")
                    {
                        @Html.DropDownListFor(model => Model.Emp_DutyStatus, Selections.DutyStatuses, " --- Please Select---", new { @class = "form-control select2", @id = "ddlDutyStatuses"  })
                    }
                    else
                    { 
                        @Html.DropDownListFor(model => Model.Emp_DutyStatus, Selections.DutyStatuses, " --- Please Select---", new { @class = "form-control select2", @id = "ddlDutyStatuses", @disabled = "" })
                        @Html.HiddenFor(a => Model.Emp_DutyStatus)
                    }

                </div>
              </div>
              
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">RETIREMENT DATE(if retired)</label>
                </div>
                <div class="col-md-5">
                  @Html.TextBoxFor(model => model.Emp_Retired_Date, "{0:MM/dd/yyyy}", new { @class = "form-control mydatepicker", @placeholder = "mm/dd/yyyy" ,@id="dpRetiredDate" ,@required ="required"})
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">SALARY GRADE</label>
                </div>
                <div class="col-md-5">
                  @Html.DropDownListFor(model => Model.Emp_Curr_SalaryGrade, Selections.SalaryGrades, " --- Please Select---", new { @class = "form-control select2" })
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">PRESENT DESIGNATION</label>
                </div>
                <div class="col-md-5">
                  @Html.DropDownListFor(model => Model.Emp_Curr_JobFunc, Selections.JobFunctions, " --- Please Select---", new { @class = "form-control select2" })
                </div>
              </div>
              @*<div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">SPECIFY DESIGNATION</label>
                </div>
                <div class="col-md-5">
                  @Html.TextBoxFor(model => model.Emp_Curr_PosDesignationTitle, new { @class = "form-control " , @maxlength = "100"})

                </div>
              </div>*@
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">REMARKS</label>
                </div>
                <div class="col-md-5">
                  @Html.TextAreaFor(model => model.Emp_Remarks, 10, 55, new {@class = "form-control "})
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label">SPECIFY DESIGNATION</label>
                </div>
                <div class="col-md-8" style="padding-left: 20px">
                  @*@Html.TextBoxFor(model => model.Emp_Curr_PosDesignationTitle, new { @class = "form-control ", @maxlength = "100" })*@
                  @Html.Partial("~/Areas/HRIS/Views/Employee/Include/EmployeeDetails/PersonalInformation/SpecifyDesignation/Main.cshtml")
                </div>
              </div>
            </div>
          </div>
      </div>
      @Html.Partial("~/Areas/HRIS/Views/Employee/Include/EmployeeDetails/ServiceRecord/Main.cshtml")
      </div>
        </div>

  <script>
    $(document).ready(function () {
      var dutyStatuses = $("#ddlDutyStatuses").val();
      RetiredDate(dutyStatuses);

      $("#ddlDutyStatuses").change(function () {
        var ID = $(this).val();
        RetiredDate(ID);
      });

        @*if ('@CurrentUser.RoleName' == "MAIN ADMIN" || '@CurrentUser.RoleName' == "NATIONAL HRIS ADMIN" || '@CurrentUser.RoleName' == "REGIONAL HRIS ADMIN")
          $("#ddlDutyStatuses").prop('disabled', false);
        else
          $("#ddlDutyStatuses").prop('disabled', true);*@

      $("#Emp_Curr_Rank").change(function () {
        if (this.value === "1") {
          $("#Emp_Service_UniformGovtStartDate").prop('disabled', true);
          $("#Emp_BadgeNumber").prop('disabled', true);
        } else {
          $("#Emp_BadgeNumber").prop('disabled', false);
          $("#Emp_Service_UniformGovtStartDate").prop('disabled', false);
        }    
      });


      if ('@Model.Emp_Rank_Txt' === "NUP") {
        $("#Emp_Service_UniformGovtStartDate").prop('disabled', true);
        $("#Emp_BadgeNumber").prop('disabled', true);
      } else {
        $("#Emp_BadgeNumber").prop('disabled', false);
        $("#Emp_Service_UniformGovtStartDate").prop('disabled', false);
      }
       
    });

    function RetiredDate(dutyStatuses) {
      if (dutyStatuses === '7')
        $('#dpRetiredDate').attr("disabled", false);
      else {
        $('#dpRetiredDate').attr("disabled", true);
        $('#dpRetiredDate').val(null);
      }
    }
  </script>
  </div>
  @Html.Partial("~/Views/Shared/formcontrols/CustomSelect.cshtml")
  </div>

