@using EBFP.Helper;
@using EBFP.BL.Helper;
@model EBFP.BL.HumanResources.MunicipalityModel
@{
    ViewBag.Title = "Municipalities";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!(PageSecurity.HasAccess(PageArea.Inventory_Municipality_CanViewAll) ||
       PageSecurity.HasAccess(PageArea.Inventory_Municipality_RestricttoProvince) ||
       PageSecurity.HasAccess(PageArea.Inventory_Municipality_RestricttoRegion)))
    {
        @Html.Partial("~/Views/Shared/Forbidden.cshtml")
        return;
    }
    Selections.SelectionReset();
}



<div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-info">
                                <a href="#" data-perform="panel-collapse">
                                    <div class="panel-heading">
                                        Search Filter (Click to expand)
                                        <div class="pull-left">
                                            <i class="ti-minus"></i>
                                        </div>
                                    </div>
                                </a>
                                <div class="panel-wrapper collapse in" aria-expanded="false">
                                    <div class="panel-body">
                                        <div role="form" class="row">
                                            <div class="col-sm-4 col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">PSGC</label>
                                                    <input type="text" id="txtNSCB" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Region</label>
                                                    @if (PageSecurity.HasAccess(PageArea.AllAreas_RestrictToRegion) || PageSecurity.HasAccess(PageArea.AllAreas_RestrictToProvince) || PageSecurity.HasAccess(PageArea.AllAreas_RestrictToStation))
                {
                @Html.DropDownList("Region", Selections.Region, new { id = "ddlRegion", @class = "form-control", onchange = "ddlRegionValueChanged(this.value)", @disabled = "disabled" })
                }
                else
                {
                @Html.DropDownList("Region", Selections.Region, " --- Please Select---", new { id = "ddlRegion", @class = "form-control", onchange = "ddlRegionValueChanged(this.value)" })

                }
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Province/District</label>
                                                    @if (PageSecurity.HasAccess(PageArea.AllAreas_RestrictToProvince) || PageSecurity.HasAccess(PageArea.AllAreas_RestrictToStation))
                {
                @Html.DropDownListFor(model => Model.ProvinceId, new SelectList(Enumerable.Empty<SelectListItem>(), "Province_Id", "Province_Name"), " --- Please Select---", new { id = "ddlProvince", @class = "form-control", onchange = "ddlProvinceValueChanged(this.value)", @disabled = "disabled" })
                }
                else
                {
                @Html.DropDownList("Province", new SelectList(Enumerable.Empty<SelectListItem>(), "Province_Id", "Province_Name"), " --- Please Select---", new { id = "ddlProvince", @class = "form-control", onchange = "ddlProvinceValueChanged(this.value)" })

                }
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">City/Municipality</label>
                                                    <input type="text" id="txtMunicipality" name="txtMunicipality" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-1">
                                                <div class="form-group">
                                                    <label class="control-label">&nbsp;</label>
                                                    <button type="button" onclick="FilterSearch()" id="btnSearch" class="btn btn-inverse btn-block form-control"><i class="fa fa-search"></i>Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="white-box">

                                <span id="totalRecords">&nbsp;</span>
                                <div class="block1" style="position: static; zoom: 1;">

                                    <div class="table-responsive">
                                        <table id="myTable" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th class="all">PSGC</th>
                                                    <th class="all">Region</th>
                                                    <th class="all">Province</th>
                                                    <th class="all">Municipality</th>
                                                    <th class="all">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @{string sId = 0.ToString().Encrypt(); }
                    <script>
                        $(document).ready(function () {
                            $("#myBtn").click(function () {

                                showModal('@sId');
                            });

                            function showModal(sId) {
                                $("#responsive-modal").modal();
                                $.ajax({
                                    async: false,
                                    url: '/HRIS/Municipality/MunicipalityDetails?sId=' + sId
                                }).success(function (partialView) {
                                    $("#editUnitContent").html("");
                                    $(partialView).appendTo("#editUnitContent");
                                });
                            }
                        });
                    </script>

                    <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content" id="editUnitContent">

                            </div>
                        </div>
                    </div>
                    <script src="@Url.Content("~/scripts/areas/common/SelectionDS.js")"></script>
                    <script>
                        var isSearch = false;
                        var myTable = null;
                        var oSelectionDS = new SelectionDS();
                        var restrictToProvince = '@PageSecurity.HasAccess(PageArea.AllAreas_RestrictToProvince)';
                        var restrictToStation = '@PageSecurity.HasAccess(PageArea.AllAreas_RestrictToStation)';
                        function ddlRegionValueChanged(regionId, provinceId) {
                            var province = provinceId;
                            if (regionId === "" || (restrictToProvince === 'False' && restrictToStation === 'False'))
                                oSelectionDS.ProvinceByRegion("ddlProvince", regionId);
                            else
                                oSelectionDS.ProvinceByRegion("ddlProvince", regionId, province);
                            oSelectionDS.ClearDropdown("ddlMunicipality");
                        }

                        function ddlProvinceValueChanged(val) {
                            oSelectionDS.MunicipalityByProvince("ddlMunicipality", val);
                        }

                        $(document).ready(function () {

                            ddlRegionValueChanged($('#ddlRegion').val(),@Model.ProvinceId);
                            ddlProvinceValueChanged(@Model.ProvinceId);

                            $('div.block1').block({
                                message: '<h3><i class="ace-icon fa fa-spinner fa-spin blue bigger-300"></i> Please Wait...</h3>'
                     , css: {
                         border: '1px solid #fff !important'
                     }
                            });

                            myTable = $('#myTable').DataTable({
                                order : [[ 0, "asc" ]],
                                serverSide: true,
                                deferRender: true,
                                pageLength: 50,
                                processing: true,
                                responsive: true,
                                searching: false,
                                ajax: {
                                    url: '@Url.Action("GetMunicipalities", "Inventory")',
                                    type: 'POST',
                                    data: function (d) {
                                        d.gridInfo = SetDatatableParams()
                                    }
                                }, "initComplete": function (settings, json)
                                {
                                    //if (settings.json.recordsFiltered)
                                    //    $('#myTable_length').append("<span id='totalGridResult'> &nbsp;&nbsp;&nbsp;" + settings.json.recordsFiltered.toLocaleString() + " result(s)</span>");
                                },
                                "columns": [
                                       {
                                           "name": "Municipality_NSCB",
                                           "searchable": true,
                                           "sortable": true,
                                           "render": function (data, type, full, meta) {
                                               return full.Municipality_NSCB;
                                           }
                                       } ,
                                    {
                                        "name": "Reg_Description",
                                        "searchable": true,
                                        "sortable": true,
                                        "render": function (data, type, full, meta) {
                                            return full.Reg_Description;
                                        }
                                    }
                                     ,
                                    {
                                        "name": "Province_Name",
                                        "searchable": true,
                                        "sortable": true,
                                        "render": function (data, type, full, meta) {
                                            return full.Province_Name;
                                        }
                                    },
                                    {
                                        "name": "Municipality_Name",
                                        "searchable": true,
                                        "sortable": true,
                                        "render": function (data, type, full, meta) {
                                            return full.Municipality_Name;
                                        }
                                    },

                        {
                            "name": "Action",
                            "searchable": false,
                            "sortable": false,
                            "width": "200px",
                            "render": function (data, type, full, meta) {
                                return GetActionTemplate(full.sMunicipality_Id);
                            }

                        }
                                ]
                            })
                             .on('preXhr.dt', function () {
                                 $('div.block1').block({
                                     message: '<h3><i class="ace-icon fa fa-spinner fa-spin blue bigger-300"></i> Please Wait...</h3>'
                                   , css: {
                                       border: '1px solid #fff !important'
                                   }
                                 });
                             })
                             .on('xhr.dt', function (data, settings) {
                                 console.log(data);
                                 $('div.block1').unblock();
                                 $("#myTable_length #totalGridResult").remove();
                                 if (settings.json && settings.json.recordsFiltered >= 0) {
                                     $('#myTable_length').append("<span id='totalGridResult'> &nbsp;&nbsp;&nbsp;" + settings.json.recordsFiltered.toLocaleString() + " result(s)</span>");
                                 }
                             });
                        });

                        function SetDatatableParams() {
                            var datatable = $('#myTable').DataTable();
                            var datatableInfo = datatable.page.info();
                            var columns = datatable.settings().init().columns;
                            var order = datatable.order();
                            var sortIndex = order[0][0];
                            var sortOrder = order[0][1];
                            datatableInfo.sortOrder = sortOrder;
                            datatableInfo.sortColumnName = columns[sortIndex].name;

                            var searchMunicipalityModel = {
                                Municipality_NSCB: $("#txtNSCB").val(),
                                RegionId: $("#ddlRegion").val() === "" ? 0 : $("#ddlRegion").val(),
                                ProvinceId: restrictToProvince === 'True' || restrictToStation === 'True' ? @Model.ProvinceId : $("#ddlProvince").val() === "" ? 0 : $("#ddlProvince").val(),
                                MunicipalityId: $("#txtMunicipality").val().trim(),
                                IsSearch: isSearch
                            };

                            datatableInfo.searchMunicipalityModel = searchMunicipalityModel;
                            return datatableInfo;
                        }

                        function GetActionTemplate(Municipality_Id) {
                            var concat = "";
                            @if (PageSecurity.HasAccess(PageArea.Inventory_Municipality_ViewDetails) || PageSecurity.HasAccess(PageArea.Inventory_Municipality_Modify))
       {   <text>
                            @*concat += '<a href="@Url.Action("Index", "Inventory")?sMunicipalityId=' + Municipality_Id + '" class="btn btn-success m-l-20 btn-rounded btn-outline waves-effect waves-light fa fa-pencil">';*@
                            concat += '<a href="@Url.Action("Index", "Inventory")?sMunicipalityId=' + Municipality_Id + '" class="btn btn-success m-l-20 btn-rounded btn-outline waves-effect waves-light fa fa-pencil">';
                            concat += ' Details';
                            concat += '</a>';
                            </text>
       }
                            return concat;
                        }

                        function FilterSearch() {
                            isSearch = true;
                            myTable.ajax.reload();
                        }
                    </script>
                    <!--alerts CSS -->
                    <link href="@Url.Content("~/content/bootstrap/eliteadmin/plugins/bower_components/sweetalert/sweetalert.css")" rel="stylesheet">
                    <script src="@Url.Content("~/content/bootstrap/eliteadmin/plugins/bower_components/sweetalert/sweetalert.min.js")"></script>
                    @Html.Partial("~/Views/Shared/formcontrols/DataTable.cshtml")
