@model EBFP.BL.Inventory.OtherVehicleModel
@using EBFP.BL.Helper;
@using EBFP.Helper
@{
    ViewBag.Title = "Other Vehicles Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!(PageSecurity.HasAccess(PageArea.Inventory_OtherVehicle_ViewDetails) || PageSecurity.HasAccess(PageArea.Inventory_OtherVehicle_Modify)))
    {
        @Html.Partial("~/Views/Shared/Forbidden.cshtml")
        return;
    }
}
@{
    var sMunicipalityId = string.IsNullOrWhiteSpace(Request.QueryString["sMunicipalityId"]) ? "0" : Request.QueryString["sMunicipalityId"].Decrypt();
}
<style>
    .partition-border {
        border: 1px darkgray solid;
        padding: 10px;
    }
</style>
<script src="~/Content/bootstrap/eliteadmin/js/validator.js"></script>
@{
    var imgSrcVFront = Model.Vehicle_FrontView != null ? String.Format("../Content/MISC/Images/{0}/{1}/{2}/{3}", Model.Municipality_Name, Model.Vehicle_UnitId, "Other Vehicle", Model.Vehicle_FrontView) : "";
    var imgSrcVRear = Model.Vehicle_RearView != null ? String.Format("../Content/MISC/Images/{0}/{1}/{2}/{3}", Model.Municipality_Name, Model.Vehicle_UnitId, "Other Vehicle", Model.Vehicle_RearView) : "";
    var imgSrcVLeft = Model.Vehicle_LeftView != null ? String.Format("../Content/MISC/Images/{0}/{1}/{2}/{3}", Model.Municipality_Name, Model.Vehicle_UnitId, "Other Vehicle", Model.Vehicle_LeftView) : "";
    var imgSrcVRight = Model.Vehicle_RightView != null ? String.Format("../Content/MISC/Images/{0}/{1}/{2}/{3}", Model.Municipality_Name,Model.Vehicle_UnitId, "Other Vehicle",Model.Vehicle_RightView) : "";
}
@using (Html.BeginForm("OtherVehicleDetails", "Inventory", FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
@*@using (Ajax.BeginForm(new AjaxOptions()
{
  InsertionMode = InsertionMode.Replace,
}))
{*@
    @*<fieldset id="OtherVehicleDetails">*@
        @Html.AntiForgeryToken()
        @Html.HiddenFor(a => Model.sVehicle_Id)
        @Html.HiddenFor(a => Model.Vehicle_Id)
        @Html.HiddenFor(a => Model.Unit_StationName)
        @Html.HiddenFor(a => Model.Vehicle_FrontView)
        @Html.HiddenFor(a => Model.Vehicle_RearView)
        @Html.HiddenFor(a => Model.Vehicle_LeftView)
        @Html.HiddenFor(a => Model.Vehicle_RightView)
        <style>
            .ti-minus, .ti-plus {
                font-weight: bold !important;
                font-size: 20px !important;
                color: white !important;
            }

                .ti-plus:before {
                    content: "\e65f" !important;
                }

                .ti-minus:before {
                    content: "\e65c";
                }

            .form-horizontal .control-label {
                text-align: left !important;
                padding-left: 15px;
            }

            .affix {
                top: 10px;
                width: 100%;
                z-index: 9999 !important;
            }

            .navbar {
                margin-bottom: 0px;
            }

            .affix ~ .container-fluid {
                padding-top: 10px !important;
                position: relative;
                top: 50px !important;
            }
        </style>
        <div class="row">
            <div class="col-sm-12" data-spy="affix" data-offset-top="197">
                @if (PageSecurity.HasAccess(PageArea.Inventory_OtherVehicle_Modify))
                {
                    <button type="submit" class="btn btn-success btn-rounded waves-effect waves-light m-r-10"><i class="fa fa-check"></i> Submit</button>
                }

                @if (sMunicipalityId == "0")
                {
                    <a href="@Url.Action("Index", "Inventory")" class="btn btn-danger btn-rounded waves-effect waves-light m-r-10">
                        <i class="fa fa-mail-reply"></i> Back
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Index", "Inventory", new { sMunicipalityId = sMunicipalityId.Encrypt()})" class="btn btn-danger btn-rounded waves-effect waves-light m-r-10">
                        <i class="fa fa-mail-reply"></i> Back
                    </a>
                }

               
            </div>
            <br /><br /><br />
        </div>
        <div class="row">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <div class="row">
                                <br /><br /><br />
                                <div class="col-sm-6 col-xs-12 ">
                                    <div class="form-horizontal partition-border">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Municipality</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Municipality_Name, new { @class = "form-control", @readonly = "readonly", @style = "font-weight:bold;" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Region</label>
                                            <div class="col-md-8">
                                                @{ var Region = Selections.InventoryRegion; }
                                                <div>
                                                    @Html.DropDownListFor(model => Model.Municipality_Reg_Id, Region, " --- Please Select---", new {@class = "form-control", @id = "municipality_Reg_Id", @disabled = "disabled"})
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Province</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => Model.Municipality_Province_Id, new SelectList(Enumerable.Empty<SelectListItem>(), "Province_Id", "Province_Name"), " --- Please Select---", new {id = "municipality_Province_Id", @class = "form-control", @disabled = "disabled"})
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Station Name</label>
                                            <div class="col-md-8">
                                                <div>
                                                    @Html.DropDownListFor(model => model.Vehicle_UnitId, new SelectList(Enumerable.Empty<SelectListItem>()), " --- Please Select---", new {@class = "form-control", @id = "vehicle_UnitId", @required = "required"})
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Sub Station Name</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => Model.Vehicle_SubStationId, new SelectList(Enumerable.Empty<SelectListItem>(), "Sub_Id", "Sub_Station_Name"), " --- Please Select---", new {id = "vehicle_SubStationId", @class = "form-control"})
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                    </div>
                                    <div class="form-horizontal partition-border">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Vehicle Id</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Vehicle_Id_Code, new {@class = "form-control"})
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Model</label>
                                            <div class="col-md-8">
                                                @{ var OVModel = Selections.OVModel; }
                                                <div>
                                                    @Html.DropDownListFor(model => model.Vehicle_Model, OVModel, " --- Please Select---", new {@class = "form-control select2", @id = "vehicle_Model"})
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Owner</label>
                                            <div class="col-md-8">
                                                <div>
                                                    @Html.DropDownListFor(model => model.Vehicle_Owner, VehicleOwner.BFP.ToSelectList(), " --- Please Select---", new {@class = "form-control", @id = "vehicle_Owner"})
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Status</label>
                                            <div class="col-md-8">
                                                <div>
                                                    @Html.DropDownListFor(model => model.Vehicle_Status, Truck_Status.BeyondEconomicRepair.ToSelectList(), " --- Please Select---", new {@class = "form-control", @id = "vehicle_Status"})
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Type</label>
                                            <div class="col-md-8">
                                                <div>
                                                    @Html.DropDownListFor(model => model.Vehicle_Type, VehicleType.AMBULANCE.ToSelectList(), " --- Please Select---", new {@class = "form-control", @id = "vehicle_Type"})
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-horizontal partition-border">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Plate Number</label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Vehicle_PlateNumber, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Engine Number</label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Vehicle_EngineNumber, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Chassis Number</label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Vehicle_ChasisNumber, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Acquisition Cost</label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.sVehicle_AcquisitionCost, new { @class = "form-control", @id = "vehicle_AcquisitionCost", @onblur = "toMoneyFormat(this)" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                    </div>
                                    <div class="form-horizontal partition-border">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Manufacture Date</label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Vehicle_ManufactureDate, new { @class = "form-control", @id = "vehicle_ManufactureDate", @oninput = "onInputTextNumber(this)" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Acquisition Date</label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Vehicle_AcquisitionDate, new { @class = "form-control", @id = "vehicle_AcquisitionDate", @oninput = "onInputTextNumber(this)" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Age (Years)</label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Vehicle_AcquisitionAge, new { @class = "form-control", @readonly = "readonly", @id = "txtvehicle_AcquisitionAge" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Remarks</label>
                                                <div class="col-md-8">
                                                    @Html.TextAreaFor(model => model.Vehicle_Remarks, 5, 55, new { @class = "form-control " })
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                        </div>
                                        <div class="form-group">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                    </div>

                                    <div class="form-group">
                                    </div>
                                    <div class="form-group">
                                    </div>
                                    <div class="form-group">
                                    </div>
                                    <div class="form-group">
                                    </div>
                                    <div class="form-group">
                                    </div>
                                    <div class="form-group">
                                    </div>
                                    <div class="form-group">
                                    </div>
                                </div>


                                <div class="col-sm-3 col-xs-6 ">
                                    <div class="form-horizontal partition-border">
                                        <div class="form-group">
                                            <div class="col-md-13">
                                                <img id="OVFView" src="@imgSrcVFront" alt="No image uploaded" class="col-md-12" style="height: 154px" />
                                            </div>
                                        </div>
                                    </div>
                                    <label class="col-md-4 control-label"></label>
                                    <label class="col-md-6 control-label" style="font-weight: bolder">Front Side View</label>
                                    @Html.TextBoxFor(model => model.FrontView, "", new { type = "file", name = "IOVFView", id = "IOVFView", accept = "image/*", style = "width: 100%;" })
                                    @*<input accept="image/*" type="file" name="IOVFView" id="IOVFView" style="width: 100%;" />*@
                                </div>
                                <div class="col-sm-3 col-xs-6 ">
                                    <div class="form-horizontal partition-border">
                                        <div class="form-group">
                                            <div class="col-md-13">
                                                <img id="OVRearView" src="@imgSrcVRear" alt="No image uploaded" class="col-md-12" style="height: 154px" />
                                            </div>
                                        </div>
                                    </div>
                                    <label class="col-md-4 control-label"></label>
                                    <label class="col-md-6 control-label" style="font-weight: bolder">Rear Side View</label>
                                    @Html.TextBoxFor(model => model.RearView, "", new { type = "file", name = "IOVRearView", id = "IOVRearView", accept = "image/*", style = "width: 100%;" })
                                    @*<input accept="image/*" type="file" name="IOVRearView" id="IOVRearView" style="width: 100%;" />*@
                                </div>
                                <div class="col-sm-3 col-xs-6 ">
                                    <div class="form-horizontal partition-border">
                                        <div class="form-group">
                                            <div class="col-md-13">
                                                <img id="OVLView" src="@imgSrcVLeft" alt="No image uploaded" class="col-md-12" style="height: 154px" />
                                            </div>
                                        </div>
                                    </div>
                                    <label class="col-md-4 control-label"></label>
                                    <label class="col-md-6 control-label" style="font-weight: bolder">Left Side View</label>
                                    @Html.TextBoxFor(model => model.LeftView, "", new { type = "file", name = "IOVLView", id = "IOVLView", accept = "image/*", style = "width: 100%;" })
                                    @*<input accept="image/*" type="file" name="IOVLView" id="IOVLView" style="width: 100%;" />*@
                                </div>
                                <div class="col-sm-3 col-xs-6 ">
                                    <div class="form-horizontal partition-border">
                                        <div class="form-group">
                                            <div class="col-md-13">
                                                <img id="OVRView" src="@imgSrcVRight" alt="No image uploaded" class="col-md-12" style="height: 154px" />
                                            </div>
                                        </div>
                                    </div>
                                    <label class="col-md-4 control-label"></label>
                                    <label class="col-md-6 control-label" style="font-weight: bolder">Right Side View</label>
                                    @Html.TextBoxFor(model => model.RightView, "", new { type = "file", name = "IOVRView", id = "IOVRView", accept = "image/*", style = "width: 100%;" })
                                    @*<input accept="image/*" type="file" name="IOVRView" id="IOVRView" style="width: 100%;" />*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
    @*</fieldset>*@
}
@Html.Partial("~/Views/Shared/formcontrols/CustomSelect.cshtml")
@Html.Partial("~/Views/Shared/formcontrols/StylishTab.cshtml")
@Html.Partial("~/Views/Shared/formcontrols/TypeHead.cshtml")
<script src="@Url.Content("~/scripts/areas/common/SelectionDS.js")"></script>
<script type="text/javascript">
    var oSelectionDS = new SelectionDS();

     var paramMunicipalityId =  @Html.Raw(Json.Encode(Model.Municipality_Id));
    var paramProvinceID = @Html.Raw(Json.Encode(Model.Municipality_Province_Id));
    var paramSubStationID = @Html.Raw(Json.Encode(Model.Vehicle_SubStationId));

    var unitId = @Html.Raw(Json.Encode(Model.Vehicle_UnitId));
</script>
<script src="@Url.Content("~/Scripts/Areas/Inventory/otherVehicle.js")"></script>
<script src="@Url.Content("~/Scripts/Areas/Common/helper.js")"></script>