@using EBFP.Helper;
@using EBFP.BL.Helper;

@{
    ViewBag.Title = "Truck";
    Layout = "";
    if (!(PageSecurity.HasAccess(PageArea.Inventory_Truck_CanViewAll)))
    {
        @Html.Partial("~/Views/Shared/Forbidden.cshtml")
        return;
    }
}
@{
    var sMunicipalityId = string.IsNullOrWhiteSpace(Request.QueryString["sMunicipalityId"]) ? "0" : Request.QueryString["sMunicipalityId"].Decrypt();
    var encryptedMunicipalityId = string.IsNullOrWhiteSpace(sMunicipalityId) ? "0".Encrypt() : sMunicipalityId.Encrypt();
}
<style>
    .tbl-Dashboard th, .tbl-Dashboard td{
        border: 1px solid gray;
        padding: 5px 10px 5px 10px;
        text-align:center;
        font-size: 15px
    }
    .tbl-Dashboard th{
        font-weight:bold;
        font-size:16px
    }
     .tbl-Dashboard{
         width:100%
     }
</style>
<div class="col-sm-12">
    <div class="panel panel-info">
        <a href="#" data-perform="panel-collapse">
            <div class="panel-heading">
                DASHBOARD
                <div class="pull-left">
                    <i class="ti-minus"></i>
                </div>
            </div>
        </a>
        <div class="panel-wrapper expand collapse in" aria-expanded="true">
            <div class="panel-body">
                @*DASHBOARD*@
                <div id="UserWrap" ng-controller="TruckDashCtrl" ng-init="LoadData()">
                    <div>
                        <table cellpadding="1" class="tbl-Dashboard">
                            <tr>
                                <th>STATUS</th>
                                <th>BFP - OWNED</th>
                                <th>LGU - OWNED</th>
                                <th>SUB - TOTAL</th>
                            </tr>
                            <tr ng-repeat="item in TruckStatusDetails">
                                <td class="tbl-RowTitle">{{item.StatusName}}</td>
                                <td>{{item.BFPOwnedCount}}</td>
                                <td>{{item.LGUOwnedCount}}</td>
                                <td>{{item.SubTotal}}</td>
                            </tr>
                            <tr>
                                <td class="tbl-RowTitle">Total</td>
                                <td>{{TruckStatusDetails | sumByKey:'BFPOwnedCount' | number}}</td>
                                <td>{{TruckStatusDetails | sumByKey:'LGUOwnedCount' | number}}</td>
                                <td>{{TruckStatusDetails | sumByKey:'SubTotal' | number}}</td>
                            </tr>
                        </table>
                    </div>

                    <br /><br />
                    <div>
                        <table cellpadding="1" class="tbl-Dashboard">
                            <tr>
                                <th>AGE (in years)</th>
                                <th>BFP - OWNED</th>
                                <th>LGU - OWNED</th>
                                <th>SUB - TOTAL</th>
                                <th>% SHARE</th>
                            </tr>
                            <tr ng-repeat="item in TruckAgeGroup">
                                <td class="tbl-RowTitle">{{item.Age}}</td>
                                <td>{{item.BFPOwnedCount}}</td>
                                <td>{{item.LGUOwnedCount}}</td>
                                <td>{{item.SubTotal}}</td>
                                <td>{{item.Share}} %</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-sm-12">
    <div class="panel panel-info">
        <a href="#" data-perform="panel-collapse">
            <div class="panel-heading">
                TRUCK LIST
                <div class="pull-left">
                    <i class="ti-minus"></i>
                </div>
            </div>
        </a>
        <div class="panel-wrapper expand collapse in" aria-expanded="true">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel-body">
                            <div role="form" class="row">

                                <div class="col-sm-4 col-md-2" style="display: none">
                                    <div class="form-group">
                                        <label class="control-label">Truck Id</label>
                                        <input type="text" id="txtTruckId" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Station Name</label>
                                        @Html.DropDownList("StationName", Selections.SearchStationName, " --- Please Select---", new { @id = "ddlTruckStationName", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Type</label>
                                        @Html.DropDownList("TruckType", TruckType.ChemicalTruck.ToSelectList(), " --- Please Select---", new { @id = "ddlTruckType", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Capacity (Gallons)</label>
                                        <input type="text" id="txtCapacity" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Status</label>
                                        @Html.DropDownList("TruckStatus", Truck_Status.BeyondEconomicRepair.ToSelectList(), " --- Please Select---", new { @id = "ddlTruckStatus", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div role="form" class="row">

                                <div class="col-sm-4 col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Owner</label>
                                        @Html.DropDownList("TruckOwner", Truck_Owner.BFP.ToSelectList(), " --- Please Select---", new { @id = "ddlTruckOwner", @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Plate Number</label>
                                        <input type="text" id="txPlatenumber" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">&nbsp;</label>
                                        <button type="button" onclick="FilterSearch()" id="btnSearch" class="btn btn-inverse btn-block form-control"><i class="fa fa-search"></i>Search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="white-box">
                                        <p>
                                            @if (PageSecurity.HasAccess(PageArea.Inventory_Truck_Modify))
                                            {
                                                if (sMunicipalityId == "0")
                                                {
                                                    <a style="color: White" href="@Url.Action("TruckDetails", "Inventory", new {sId = 0.ToString().Encrypt()})" class="btn btn-success btn-rounded waves-effect waves-light m-r-10">
                                                        <i class="fa fa-plus-circle"></i> Create New
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a style="color: White" href="@Url.Action("TruckDetails", "Inventory", new {sId = 0.ToString().Encrypt(), sMunicipalityId = sMunicipalityId.Encrypt()})" class="btn btn-success btn-rounded waves-effect waves-light m-r-10">
                                                        <i class="fa fa-plus-circle"></i> Create New
                                                    </a>
                                                }
                                            }
                                        </p>

                                        <span id="totalRecords">&nbsp;</span>
                                        <div class="block1" style="position: static; zoom: 1;">

                                            <div class="table-responsive">
                                                <table id="tblTruck" class="table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            @*<th class="all">Truck Id</th>*@
                                                            <th class="all">Station Name</th>
                                                            <th>Type</th>
                                                            <th>Status</th>
                                                            <th>Owner</th>
                                                            <th>Plate Number</th>

                                                            <th class="all">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            @*<td></td>*@
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    var decryptedMunicipalityId =  @Html.Raw(Json.Encode(sMunicipalityId));
    var paramMunicipalityId =  @Html.Raw(Json.Encode(encryptedMunicipalityId));
    var hasAccessToModify = @Html.Raw(Json.Encode(PageSecurity.HasAccess(PageArea.Inventory_Truck_Modify)));
    var hasAccessToViewDetails = @Html.Raw(Json.Encode(PageSecurity.HasAccess(PageArea.Inventory_Truck_ViewDetails)));
</script>
<!--alerts CSS -->
<link href="@Url.Content("~/content/bootstrap/eliteadmin/plugins/bower_components/sweetalert/sweetalert.css")" rel="stylesheet">
<script src="@Url.Content("~/content/bootstrap/eliteadmin/plugins/bower_components/sweetalert/sweetalert.min.js")"></script>
<script src="@Url.Content("~/Scripts/Areas/Inventory/truckMain.js")"></script>
@Html.Partial("~/Views/Shared/formcontrols/DataTable.cshtml")

<!-- Controller -->
<script src="~/Scripts/Areas/Inventory/Dashboard/ctrldashboardTruck.js"></script>