
@using MVC.Series.Web.Extensions
@model EBFP.BL.HumanResources.UnitUserInRoleModel
@using EBFP.BL.Helper
@using (Html.BeginCollectionItem("UnitUserInRoleModel"))
{
    string formID = "HRISTP_" + Guid.NewGuid().ToString().Replace("-", "");
    <div class="divTableRow" id="@formID">
        @Html.HiddenFor(m => @Model.Unit_UIR_ID, new { @class = "form-control" })
        @Html.HiddenFor(m => @Model.Unit_UIR_Unit_Id, new { @class = "form-control" ,@id = "unit_UIR_Unit_Id" })
        <div class="divTableCell">
            @Html.DropDownListFor(model => Model.Unit_UIR_Emp_Id, Selections.EmployeeByUnitIdList(Model.Unit_UIR_Unit_Id).ToList(), new { @class = "form-control select2" } ) 
            @*@Html.TextBoxFor(m => @Model.EmployeeName, new {@maxlength = "200", @class = "form-control typeahead" })*@
        </div>
        <div class="divTableCell">
            @Html.CheckBoxFor(m => @Model.Unit_UIR_Assessor, new {@class = "" })
        </div>
      <div class="divTableCell">
        @Html.CheckBoxFor(m => @Model.Unit_UIR_Collector, new {@class = ""})
      </div>
      <div class="divTableCell">
        @Html.CheckBoxFor(m => @Model.Unit_UIR_PlanEvaluator, new { @class = "" })
      </div>
        <div class="divTableCell">
            @Html.CheckBoxFor(m => @Model.Unit_UIR_Encoder, new {@class = "" })
        </div>
        <div class="divTableCell">
            @Html.CheckBoxFor(m => @Model.Unit_UIR_Inspector, new { @class = "" })
        </div>
        <div class="divTableCell">
            @Html.CheckBoxFor(m => @Model.Unit_UIR_Release, new {@class = "" })
        </div>
        <div class="divTableCell">
            <button type="button" class="btn btn-danger removeItem btn-circle UserAccessCanEdit" id="@formID" name="@formID" data-bind="@formID"><i class="fa fa-times"></i> </button>
        </div>
    </div>

    string UnitsUserInRole = Newtonsoft.Json.JsonConvert.SerializeObject(Selections.EmployeeByUnitIdList(Model.Unit_UIR_Unit_Id).Select(a => a.Text).ToList());
    UnitsUserInRole = UnitsUserInRole.Replace("\"", "'");

    <script type="text/javascript">

        $(document).ready(function () {
            $("#@formID .removeItem").click(function () {
                $("#" + $(this).data().bind).remove();
            });
        });

        var UnitsUserInRoles = '@UnitsUserInRole'.replace(/\&#39;/g, "\"");
        var UserInRole = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: JSON.parse(UnitsUserInRoles)
        });

        $('#@formID .typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 0
        },
        {
            name: 'UserInRole',
            source: UserInRole
        });

    </script>
}


