@model int?
@using EBFP.Helper;
@using EBFP.BL.Helper;

@{
    ViewBag.Title = "Personnel";
    Layout = "";
    @*if (!(PageSecurity.HasAccess(PageArea.Inventory_Personnel_CanViewAll)))
    {
        @Html.Partial("~/Views/Shared/Forbidden.cshtml")
        return;
    }*@
}
@{
    var sMunicipalityId = string.IsNullOrWhiteSpace(Request.QueryString["sMunicipalityId"]) ? "0" : Request.QueryString["sMunicipalityId"].Decrypt();
    var encryptedMunicipalityId = string.IsNullOrWhiteSpace(sMunicipalityId) ? "0".Encrypt() : sMunicipalityId.Encrypt();
}
<style>
    .tbl-Dashboard th, .tbl-Dashboard td {
        border: 1px solid gray;
        padding: 5px 10px 5px 10px;
        text-align: center;
        font-size: 15px
    }
    .tbl-Dashboard th {
        font-weight: bold;
        font-size: 16px
    }
    .tbl-Dashboard {
        width: 100%
    }
</style>
<div class="col-sm-12">
    <div class="white-box">
        <span id="totalRecords">&nbsp;</span>
        <div class="block1" style="position: static; zoom: 1;">

            <div class="table-responsive">
                <table id="tblStationPersonnel" class="table table-striped table-bordered nowrap">
                    <thead>
                        <tr>
                            <th class="all" style="width:80px">Rank</th>
                            <th class="all">Name</th>
                            <th>Present Designation</th>
                            <th style="width:200px !important">Specific Designation</th>
                            <th>Contact Number</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var unitId =  @Html.Raw(Json.Encode((Model ?? 0)));
    var dcMunicipalityId =  @Html.Raw(Json.Encode(sMunicipalityId));
</script>
<!--alerts CSS -->
<link href="@Url.Content("~/content/bootstrap/eliteadmin/plugins/bower_components/sweetalert/sweetalert.css")" rel="stylesheet">
<script src="@Url.Content("~/content/bootstrap/eliteadmin/plugins/bower_components/sweetalert/sweetalert.min.js")"></script>
<script src="@Url.Content("~/Scripts/Areas/Inventory/personnelStation.js")"></script>
@Html.Partial("~/Views/Shared/formcontrols/DataTable.cshtml")