@using EBFP.BL.Helper
@model EBFP.BL.HumanResources.UserModel

@{
    ViewBag.Title = "CHANGE PASSWORD";
    Layout = "~/Views/Shared/_Layout_Outside.cshtml";
}
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
  @Html.AntiForgeryToken()
    @Html.HiddenFor(a => Model.sEmp_Id)
    @Html.HiddenFor(a => Model.ConfirmationKey)
  <div class="col-sm-12">
    <div class="panel panel-info">
      <a href="#" data-perform="panel-collapse">
        <div class="panel-heading">
          CHANGE PASSWORD

          <div class="pull-left">
            <a href="#" data-perform="panel-collapse"><i class="ti-minus"></i>&nbsp;&nbsp;</a>
          </div>
        </div>
      </a>
      <div class="panel-wrapper collapse in" aria-expanded="true">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="form-horizontal">

                <div class="form-group">
                  <label class="col-md-3 control-label">New Password</label>
                  <div class="col-md-6">
                    <div>
                      @Html.TextBoxFor(model => model.NewPassword, new {@maxlength = "20", @class = "form-control"})
                      @Html.ValidationMessageFor(model => model.NewPassword, null, new {@class = "text-danger"}) </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Confirm New Password</label>
                  <div class="col-md-6">
                    <div>
                      @Html.TextBoxFor(model => model.ConfirmNewPassword, new {@maxlength = "20", @class = "form-control"})
                      @Html.ValidationMessageFor(model => model.ConfirmNewPassword, null, new {@class = "text-danger"})
                    </div>
                  </div>
                </div>
                <div class="col-md-3" style="margin-top: 6px">
                  <div>
                    <button type="submit" class="btn btn-success btn-rounded waves-effect waves-light m-r-10"><i class="fa fa-check"></i> Submit</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script type="text/javascript">
    var message = '@Model.Message';
    $(document).ready(function () {
      if (message === "Success") {
        swal({
          title: "Success!",
          text: "Password Successfully Changed.",
          type: "success"
        },
            function () {
              window.location.href = '/Account/Login';
            });
      }
    });
  </script>
}