
@using MVC.Series.Web.Extensions
@model EBFP.BL.HumanResources.WorkExperienceModel
@using EBFP.BL.Helper
@using (Html.BeginCollectionItem("WorkExperiences"))
{
    string formID = "HRISWE_" + Guid.NewGuid().ToString().Replace("-", "");
    <div class="divTableRow" id="@formID">
        @Html.HiddenFor(m => @Model.EWE_Emp_Id, new { @class = "form-control" })
        @Html.HiddenFor(m => @Model.EWE_Id, new { @class = "form-control" })
        <div class="divTableCell">
            <div class="col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.EWE_StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control mydatepicker", @placeholder = "mm/dd/yyyy", @required = "required" })
            </div>
            <div class="col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.EWE_EndDate, "{0:MM/dd/yyyy}", new { @class = "form-control mydatepicker", @placeholder = Model.EWE_EndDate == null ? "PRESENT" : "mm/dd/yyyy" })
            </div>
          
        </div>
        <div class="divTableCell">@Html.TextBoxFor(m => @Model.EWE_PositionTitle, new { @maxlength = "300", @class = "form-control", @required = "required" })</div>
        <div class="divTableCell">@Html.TextBoxFor(m => @Model.EWE_CompanyName, new { @maxlength = "150", @class = "form-control", @required = "required" })</div>
        <div class="divTableCell">@Html.TextBoxFor(m => @Model.EWE_MonthlySalary, new { @maxlength = "50", @class = "form-control" })</div>
        <div class="divTableCell">@Html.TextBoxFor(m => @Model.EWE_SalaryGrade, new { @maxlength = "150", @class = "form-control" })</div>
        <div class="divTableCell">
            @Html.DropDownListFor(model => Model.EWE_ApptStatus, AppointmentStatuses.Permanent.ToSelectList(), " --- Please Select---", new { @class = "form-control" })
        @*@Html.TextBoxFor(m => @Model.EWE_ApptStatus, new { @maxlength = "50", @class = "form-control" })*@</div>
        <div class="divTableCell">
            @Html.RadioButtonFor(e => e.EWE_GovtService, true, new { id = "GovtService-true" })
            @Html.Label("GovtService-true", "Yes")
            @Html.RadioButtonFor(e => e.EWE_GovtService, false, new { id = "GovtService-false" })
            @Html.Label("GovtService-false", "No")
        </div>
        <div class="divTableCell"> 
            <button type="button" class="btn btn-danger removeItem btn-circle UserAccessCanEdit" id="@formID" name="@formID" data-bind="@formID"><i class="fa fa-times"></i> </button> 
        </div>

    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#@formID .removeItem").click(function () {
                $("#" + $(this).data().bind).remove();
            });
        });
    </script>
}
