
@using MVC.Series.Web.Extensions
@model EBFP.BL.Inventory.FireRecordsModel
@using EBFP.BL.Helper;
@using (Html.BeginCollectionItem("FireRecordsList"))
{
    string formID = "FireRecords_" + Guid.NewGuid().ToString().Replace("-", "");
    <div class="divTableRow" id="@formID">
        @Html.HiddenFor(m => @Model.Fire_Municipality_Id, new { @class = "form-control" })
        @Html.HiddenFor(m => @Model.Fire_Id, new { @class = "form-control" })
        <div class="divTableCell">
            @Html.TextBoxFor(model => Model.Fire_Year, new { @class = "form-control" })
        </div>

        <div class="divTableCell">
            @Html.TextBoxFor(model => Model.sFire_Incidents, new { @class = "form-control", @onblur = "toThousandSeparatorFormat(this)", @id="txtIncidents_" + Model.count })
        </div>
        <div class="divTableCell">
            @Html.TextBoxFor(model => Model.sFire_Injuries, new { @class = "form-control", @onblur = "toThousandSeparatorFormat(this)", @id = "txtInjuries_" + Model.count })
        </div>
        <div class="divTableCell">
            @Html.TextBoxFor(model => Model.sFire_Deaths, new { @class = "form-control", @onblur = "toThousandSeparatorFormat(this)", @id = "txtDeaths_" + Model.count })
        </div>
        <div class="divTableCell">
            @Html.TextBoxFor(model => Model.sFire_Damages, new {@class = "form-control", @onblur = "toMoneyFormat(this)", @id = "txtDamages_" + Model.count })
        </div>
        <div class="divTableCell">
            <button type="button" class="btn btn-danger removeItem btn-circle" id="@formID" name="@formID" data-bind="@formID"><i class="fa fa-times"></i> </button>
        </div>
        

    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#@formID .removeItem").click(function () {
                $("#" + $(this).data().bind).remove();
            });
        });
    </script>
}
